/* Тут пиши основные стили */

body {
    width: 700px;
    margin: auto;
}

h1 {
    font-family: LucidaGrande-Bold, sans-serif;
    font-size: 42px;
}

h2 {
    font-family: LucidaGrande-Bold, sans-serif;
    font-size: 34px;
}

p {
    font-family: Georgia, sans-serif;
    font-size: 21px;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}